<footer class ="flex flex-col border-t justify-center bg-gray-100 text-black w-full inset-x-0 bottom-0 p-2 text-sm">
<div class="flex justify-center">
<span style="font-size: 2em; color: red;">
<a class="fab fa-instagram" href="https://instagram.com/yaznas53/" target="_blank"></a>
<a class="fab fa-github" href="https://github.com/Yaznas/" target="_blank"></a>
<a class="fab fa-twitter" href="https://twitter.com/yaznas53/" target="_blank"></a>
<a class="fas fa-envelope" href="mailto:sanjshrestha53@gmail.com"></a>
</span>
</div>
<div class="hidden sm:block">
<ul class="flex justify-center list-none text-sm py-2">
<li>
<a class="block px-2" href="/">Home</a>
</li>
<li>
<a class="block px-2" href="/site-info/">Site Info</a>
</li>
<li>
<a class="block px-2" href="/feed/feed.xml">Feed</a>
</li>
<li>
<a class="block px-2" href="/sitemap.xml">Sitemap</a>
</ul>
</div>
<div class="text-center">&copy; <a href="{{ '/' | url }}">{{ metadata.title }}</a> - All Rights Reserved.<br>You guys <span aria-label="spider-man hand" class="eleventy-emoji" role="img">🤟</span>
</div>
</footer>