<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/styles/tailwind.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script src="https://kit.fontawesome.com/7b8e271820.js" crossorigin="anonymous"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class ="bg-white">

  {# include header #}
  {% include "components/header.njk" %}
  
  <div class="container w-full md:max-w-3xl mx-auto pt-20">
  <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
  {{ content | safe }}
  </main>
  </div>
  {# include footer #}
  {% include "components/footer.njk" %}
  <!-- Current page: {{ page.url | url }} -->

  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
          });
          }
          });
          }
  </script>
  </body>
</html>
