---
layout: layouts/base.njk
templateClass: tmpl-post
---
<section class="hero is-info">
<div class="hero-body">
<h1 class="title has-text-centered">{{ title }}</h1>
</div>
</section>

<section class="section">
<div class="columns is-mobile is-centered">
<div class="column is-half">
<img src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>
<main class="content">
  {{ content | safe }}
</main>
<hr>
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
</div>
</div>
</section>