---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---
<section class="hero is-info">
<div class="hero-body">
<h1 class="title has-text-centered">Blog Posts</h1>
</div>
</section>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}