---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="container mx-auto px-2">
<div class="justify-center">
<h1 class="text-4xl italic font-bold"> Welcome to my little space on the Internet!</h1>
<img class="animate-bounce md:animate-none object-scale-down h-40 w-full" src="img/static/dango.png"></img>
</div>
</div>
<article class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl">
{% set maxPosts = collections.posts.length | min(5) %}
<h1>Recent {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/blog/' | url }}">the archive</a>.</p>
</article>
