---
permalink: /tags/
layout: layouts/home.njk
---
<section class="section">
<div class="container">
<h1 class="title">Tags</h1>
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
{% endfor %}
</div>
</section>
